/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  border: 3px solid #8e0c0c;
  border-radius: 8px;
  padding: 10px;
  max-width: 300px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  background-color: aquamarine;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
