/* style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #c6eff8;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1 {
  color: #444;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #ccc;
}

table thead {
  background-color: #007BFF;
  color: #fff;
}

table, th, td {
  border: 3px solid #5a5a5a;
}

table th,
table td {
  padding: 12px 15px;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}

form {
  display: inline;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin: 4px 0 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
